# .Net Specific #
###################
_ReSharper.*
*.resharper
.svn*
obj/
bin/
*.suo
*.user
Log/
log/
*.db
[Oo]bj
[Bb]in
packages/
PublishProfiles/
.vs/
/obj/
Business Logic/obj/Debug/
Data Access/obj/Debug/
TimeTracking/obj/Debug/
Utilities/obj/Debug/
 